.rectangleDiv {
  position: absolute;
  top: 0;
  left: -3px;
  background-color: var(--color-indigo-100);
  width: 283px;
  height: 982px;
}
.icons8Analytics301 {
  position: absolute;
  top: 269px;
  left: 54px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.rectangleDiv1,
.rectangleDiv2,
.rectangleDiv3 {
  position: absolute;
  top: 816px;
  left: 77.58px;
  background-color: var(--color-beige-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 36px;
  height: 207px;
  transform: rotate(53.59deg);
  transform-origin: 0 0;
}
.rectangleDiv2,
.rectangleDiv3 {
  top: 761px;
  left: 88.17px;
  background-color: var(--color-gold);
  transform: rotate(53.4deg);
}
.rectangleDiv3 {
  top: 713.98px;
  left: 88.27px;
  background-color: var(--color-yellow);
  transform: rotate(53.5deg);
}
.dashboardButton {
  position: absolute;
  top: 139px;
  left: 65px;
  color: white;
  cursor: pointer;
}

.icons8DashboardLayout481 {
  position: absolute;
  top: 146px;
  left: 54px;
  width: 19.06px;
  height: 18px;
  object-fit: cover;
}
.polygonIcon,
.polygonIcon2 {
  position: absolute;
  top: 14.89px;
  left: 14.87px;
  width: 57.44px;
  height: 57.21px;
}
.polygonIcon2 {
  top: 13.41px;
  left: 12.03px;
  width: 63.33px;
  height: 62.02px;
}
.aANKHDiv,
.polygonIcon3 {
  position: absolute;
  top: 6.17px;
  left: 6.62px;
  width: 75.48px;
  height: 74.4px;
}
.aANKHDiv {
  top: 40px;
  left: 34px;
  font-size: 7px;
  font-weight: 900;
  display: inline-block;
  width: 27.7px;
  height: 10.52px;
}
.ellipseIcon {
  position: absolute;
  top: 31.39px;
  left: 47.46px;
  width: 19.44px;
  height: 24.23px;
}
.ellipseIcon1,
.groupDiv {
  position: absolute;
  top: 32.48px;
  left: 25.22px;
  width: 19.52px;
  height: 24.2px;
}
.groupDiv {
  top: 30px;
  left: 78px;
  width: 87px;
  height: 87px;
  text-align: left;
  font-size: var(--font-size-5xs);
  font-family: var(--font-noto-sans-thai-ui);
}
.ellipseIcon2,
.ellipseIcon3 {
  position: absolute;
  top: 87px;
  left: 253px;
  width: 53px;
  height: 54px;
}
.ellipseIcon3 {
  top: 92.04px;
  left: 258.04px;
  width: 43.92px;
  height: 43px;
  cursor: pointer;
}
.groupIcon,
.trackNowDiv {
  position: absolute;
  top: 106px;
  left: 274.94px;
  width: 10.19px;
  height: 16.66px;
}
.trackNowDiv {
  top: 197px;
  left: 49px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 134px;
  height: 27px;
}
.icons8Dashboard481 {
  position: absolute;
  top: 203px;
  left: 54px;
  width: 18px;
  height: 16px;
  object-fit: cover;
}

.officerAnalysisButton {
  position: absolute;
  color: white;
  top: 261px;
  left: 65px;
  cursor: pointer;
}
.emerCheckButton {
  top: 333px;
  left: 82px;  position: absolute;
  top: 333px;
  left: 61px;
  color: white;
  cursor: pointer;
}
.icons8CheckpointGoalFlagFo {
  position: absolute;
  top: 342px;
  left: 54px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.addProfileButton {
  position: absolute;
  top: 401px;
  left: 70px;
  color: white;
  cursor: pointer;
}
.icons8Profile321 {
  position: absolute;
  top: 410px;
  left: 54px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.groupIcon1 {
  position: absolute;
  height: 9.16%;
  width: 6.61%;
  top: 52.55%;
  right: 87.63%;
  bottom: 38.29%;
  left: 5.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lineIcon,
.rectangleIcon {
  position: absolute;
  top: 149.41px;
  left: 0;
  width: 1232px;
  height: 766.59px;
}
.lineIcon {
  top: 84.79px;
  left: 457.59px;
  width: 202.53px;
  height: 2.14px;
}
.groupDiv2,
.rectangleDiv4 {
  position: absolute;
  top: 0;
  width: 402.17px;
  height: 247.07px;
}
.rectangleDiv4 {
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #fff, #ededed);
  backdrop-filter: blur(4px);
}
.groupDiv2 {
  left: 357.04px;
}
.groupDiv3,
.rectangleDiv5,
.trackNowDiv1 {
  position: absolute;
  width: 367.69px;
  height: 217.33px;
}
.rectangleDiv5 {
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-indigo-100);
}
.groupDiv3,
.trackNowDiv1 {
  top: 14.87px;
  left: 374.28px;
}
.trackNowDiv1 {
  top: 102.54px;
  left: 477.69px;
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  width: 161.85px;
  height: 31.25px;
}
.groupDiv1 {
  position: absolute;
  top: 66px;
  left: 280px;
  width: 1232px;
  height: 916px;
  font-size: var(--font-size-2xl);
}
.lineIcon1 {
  position: absolute;
  top: 213.5px;
  left: 787px;
  width: 149px;
  height: 1px;
}
.fullNameDiv,
.iDNumberDiv {
  position: absolute;
  top: 484px;
  left: 699px;
  color: var(--color-black);
  display: inline-block;
}
.iDNumberDiv {
  top: 632px;
}
.rectangleTextField,
.rectangleTextField1 {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 526px;
  left: 699px;
}
.rectangleTextField1 {
  top: 683px;
}
.groupButton {
  position: absolute;
  top: 788px;
  left: 708px;
  background-color: #301565;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
.rectangleDiv6 {
  position: absolute;
  top: 227px;
  left: 1708.92px;
  background-color: var(--color-indigo-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 459px;
  height: 459px;
  transform: rotate(45.42deg);
  transform-origin: 0 0;
}
.tracknowWebDiv {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
